body{
	margin: 0px;
}
.all{
	margin: 0px;
}
.heading{
	width: 100%;
	height:35px;
	background-color: #f2f2f2;
}
.head{
	width: 1240px;
	height: 35px;
	/*border: 1px solid red;*/
	margin: 0px auto;
	position: relative;
}
.head_left{
	background-image: url(../img/logo1_1.jpg);
	width: 135px;
	height: 35px;
	display: block;
	float: left;
}
.head_left:hover{
	background-image:url(../img/logo1_2.jpg);
}
.head_left2{
	background-image: url(../img/logo2_1.jpg);
	width: 135px;
	height: 35px;
	display: block;
	float: left;
}
.head_left2:hover{
	background-image: url(../img/logo2_2.jpg);
}
.right{
	position: absolute;
	right: 0px;
	width:150px;
	height: 35px;
	/*border: 1px solid blue;*/
	line-height: 35px;
}
.head_font{
	display: inline-block;
	font-size:small;
	text-decoration: none;
	color: black;
}
.head_font:hover{
	font-weight: bold;
}
.head_shop{
	display: inline-block;
	width: 18px;
	height: 23px;
	background-image: url(../img/logo_shop.png);
	background-size: 100% auto;
	background-repeat: no-repeat;
	position: relative;
	top: 9px;
}
.head_shop:hover{
	background-size: 21px auto;
}
.logo{
	display: inline-block;
	background-color: white;
	background-image: url(../img/logo.png);
	background-repeat: no-repeat;
	background-position: center;
	height: 80px;
	width: 100%;
	margin: 0px;
	/*border: 1px solid red;*/
}
.nav_bar{
	width: 100%;
	height: 40px;
	background:  #414141;	
	min-width: 1240px;
}
.nav{
	margin: 0px auto;
	width: 1240px;
	height: 40px;
	
	/*border: 1px solid blue;*/
}
.firstItem{
/*	display: inline-block;*/
	width: 117px;
	height:40px;
	text-decoration: none;
	line-height: 40px;
	text-align: center;
	font-size: 14px;
	color: white;
	margin: 0px 32px 0px 0px;
	float: left;
}
.otherItem{
	/*display:inline-block;*/
	width: 117px;
	height:40px;
	text-decoration: none;
	line-height: 40px;
	text-align: center;
	font-size: 14px;
	color: white;
	margin: 0px 32px;
	float: left;
}
.content{
	margin: 0px auto;
	/*border: 1px solid orangered;*/
	width: 1240px;
	height: 5050px;
}
.content_head{
	margin: 30px auto 0px auto;
	width: 960px;
	height: 410px;
	/*border: 1px solid blue;*/
	position: relative;
}
.content_head_left{
	margin: 90px 20px 0px 60px;
	width: 158px;
	height: 118px;
	/*border: 1px solid orangered;*/
	position: relative;
	float: left;
}
.content_head_left_top{
	background-image: url(../img/littlelogo.png);
	background-repeat: no-repeat;
	width: 25px;
	height: 11px;
	position: absolute;
	left: 60px;
	top: 4px;
}
.content_head_left_mid{
	width: 148px;
	height: 40px;
	text-align: center;
	font-size: 12px;
    line-height: 15px;
}
.content_head_left_bottom{
	margin: 30px auto;
	width: 119px;
	height: 28px;
	background-image: url(../img/name.png);
}
.content_head_mid{
	width: 400px;
	height: 400px;
	background-image: url(../img/flowers.png);
	float: left;
}
.content_head_right{
	width: 280px;
	height: 300px;
	/*border: 1px solid black;*/
	float: left;
	position: absolute;
	top: 50px;
	right: 0px;
}
.content_head_right_tit{
	width: 100%;
	height: 25px;
	font-size: 16px;
	line-height: 25px;
}
.content_head_right_tit2{
	width: 100%;
	height: 30px;
	font-size: 12px;
	line-height: 30px;
	color: #414141;
}
.content_head_right_pay{
	border-bottom: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
    font-size: 24px;
    line-height: 45px;
	width: 100%;
	height: 45px;
}
.content_head_right_color{
	width: 100%;
	height: 26px;
	line-height: 26px;
	padding: 5px 0px;
	font-size: 12px;
	position: relative;
}
.content_head_right_color img{
	display: inline;
	position: absolute;
	top: 7px;
}
.content_head_right_num{
	width: 100%;
	height: 22px;
	line-height: 22px;
	font-size: 12px;
	padding: 5px 0px;
}
.content_head_right_num img{
	display: inline;
	float: left;
}
.content_head_right_txt{
	border: medium none;
    display: block;
    float: left;
    line-height: 20px;
    margin: 0;
    text-align: center;
    width: 20px;
}
.content_head_right_buy{
	height: 62px;
}
.content_head_right_buy a{
	display: inline-block;
	width: 98px;
	height: 30px;
	margin: 15px 20px 15px 0px;
	line-height: 30px;
	text-decoration: none;
	text-align: center;
	border: 1px solid black;
}
.content_middle{
	width: 960px;
	height: 3900px;
	margin: 0px auto;
	/*border: 1px solid black;*/
}
.content_bottom{
	width: 960px;
	height: 280px;
	margin: 0px auto;
	/*border: 1px solid blue;*/
}
.content_bottom_left{
	width: 470px;
	height: 175px;
	padding-top: 70px;
	margin: 20px 16px 10px 0px;
	text-align: center;
	/*border: 1px solid black;*/
	float: left;
}
.content_bottom_right{
	width: 470px;
	height: 175px;
	padding-top: 70px;
	margin-top: 20px;
	text-align: center;
	/*border: 1px solid black;*/
	float: left;
}
.f14{
	font-family:"bookman old style";
	font-size:14px;
	line-height: 20px;
}
.f16{
	font-family:"微软雅黑";
	font-size:16px;
	font-weight: bold;
}
.content_bottom a{
	font-size: 14px;
	color: #A9A9A9;
	text-decoration: none;
}
.line{
	border-bottom: 1px solid #83847e;
    border-top: 2px solid #83847e;
    clear: both;
    height: 6px;
    width: 100%;
    margin-bottom: 8px;
}
.foot{
	
}
.foot:hover{
	opacity: 0.4;
}
.under{
	/*border: 1px solid black;*/
	width: 100%;
	height: 180px;
	margin-top:50px ;
	position: relative;
}
.under_left{
	height: 100%;
	width:200px;
	/*border: 1px solid blue;*/
	float: left;
}
.under ul{
	border-left: 1px solid gainsboro;
	float: left;
    margin-top: 0;
    padding-left: 70px;
    padding-right: 70px;
    text-align: center;
    list-style-type: none;
}
.under p {
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 0;
    font-weight: bold;
    
}
.under li {
	display: block;
    color:gray;
    font-family:"宋体";
    font-size: small;
    font-weight: 700;
    line-height: 30px;
    margin-left: 1px;
    text-align: left;
    
}
.under a{
	text-decoration: none;
}
.under_right{
	position: absolute;
	right: 0px;
}
.phone{
	background-color: #f2f2f2;
	width: 100%;
	height: 45px;
	min-width: 1240px;
}
.phone a{
	display: block;
	margin: 0px auto;
	width: 122px;
}
.bottom{
	width: 100%;
	height: 45px;
	line-height: 45px;
	background-color: #414141;
	text-align: center;
	color: white;
	min-width: 1240px;
}
