body{
	margin: 0px;
}
.all{
	margin: 0px;
}
.heading{
	width: 100%;
	height:35px;
	background-color: #f2f2f2;
}
.head{
	width: 1240px;
	height: 35px;
	/*border: 1px solid red;*/
	margin: 0px auto;
	position: relative;
}
.head_left{
	background-image: url(../img/logo1_1.jpg);
	width: 135px;
	height: 35px;
	display: block;
	float: left;
}
.head_left:hover{
	background-image:url(../img/logo1_2.jpg);
}
.head_left2{
	background-image: url(../img/logo2_1.jpg);
	width: 135px;
	height: 35px;
	display: block;
	float: left;
}
.head_left2:hover{
	background-image: url(../img/logo2_2.jpg);
}
.right{
	position: absolute;
	right: 0px;
	width:150px;
	height: 35px;
	/*border: 1px solid blue;*/
	line-height: 35px;
}
.head_font{
	display: inline-block;
	font-size:small;
	text-decoration: none;
	color: black;
}
.head_font:hover{
	font-weight: bold;
}
.head_shop{
	display: inline-block;
	width: 18px;
	height: 23px;
	background-image: url(../img/logo_shop.png);
	background-size: 100% auto;
	background-repeat: no-repeat;
	position: relative;
	top: 9px;
}
.head_shop:hover{
	background-size: 21px auto;
}
.logo{
	display: inline-block;
	background-color: white;
	background-image: url(../img/logo.png);
	background-repeat: no-repeat;
	background-position: center;
	height: 80px;
	width: 100%;
	margin: 0px;
	/*border: 1px solid red;*/
}
.nav_bar{
	width: 100%;
	height: 40px;
	background:  #414141;	
	min-width: 1240px;
}
.nav{
	margin: 0px auto;
	width: 1240px;
	height: 40px;
	/*border: 1px solid blue;*/
}
.firstItem{
/*	display: inline-block;*/
	width: 117px;
	height:40px;
	text-decoration: none;
	line-height: 40px;
	text-align: center;
	font-size: 14px;
	color: white;
	margin: 0px 32px 0px 0px;
	float: left;
}
.otherItem{
	/*display:inline-block;*/
	width: 117px;
	height:40px;
	text-decoration: none;
	line-height: 40px;
	text-align: center;
	font-size: 14px;
	color: white;
	margin: 0px 32px;
	float: left;
}
.content{
	width: 100%;
	height: 670px;
	background-image: url(../img/loginbg.jpg);
	border: 1px solid black;
	position: relative;
}
.mylogin{
	width: 400px;
	height: 366px;
	padding-top: 40px;
	/*border: 1px solid red;*/
	position: absolute;
	top: 50px;
	right: 10px;
	background-color: white;
}
.mylogin_title{
	background: url(../img/denglu.png) no-repeat scroll center 0;
    font-size: 18px;
    height: 20px;
    letter-spacing: 4px;
    line-height: 20px;
    margin-bottom: 38px;
    text-align: center;
    width: 100%;
}
.account{
    width: 290px;
    height: 46px;
    margin: 0px auto 15px auto;
    position: relative;
    border: 1px solid #414141;
    
}
.account img{
	left: 10px;
    position: absolute;
    top: 14px;
}
.account_content{
	left: 40px;
    position: absolute;
    top: 14px;
    border: none;
    font-size: 15px;
}
.quick_sign{
	height: 19px;
	/*border: 1px solid black;*/
	position: relative;
}
.quick_sign a{
	display: inline-block;
	text-decoration: none;
	color: #414141;
	height: 19px;
	font-size: 15px;
	line-height: 19px;
	position: absolute;
	left: 57px;
}
.login_button{
	display: inline-block;
	/*border: 1px solid black;*/
	text-decoration: none;
	width: 290px;
	height: 48px;
	line-height: 48px;
	text-align: center;
	margin: 30px 55px;
	color: white;
	background-color: #A9A9A9;
	font-weight: bold;
}
.login_bottom{
	margin-top: 4px;
	/*border: 1px solid black;*/
	height: 50px;
	line-height: 50px;
	text-align: center;
	background-color: rgb(221,221,221);
}
.under{
	/*border: 1px solid black;*/
	width: 1240px;
	margin: 0px auto;
	height: 180px;
	margin-top:50px ;
	position: relative;
	
}
.under_left{
	height: 100%;
	width:200px;
	/*border: 1px solid blue;*/
	float: left;
}
.under ul{
	border-left: 1px solid gainsboro;
	float: left;
    margin-top: 0;
    padding-left: 70px;
    padding-right: 70px;
    text-align: center;
    list-style-type: none;
}
.under p {
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 0;
    font-weight: bold;
    
}
.under li {
	display: block;
    color:gray;
    font-family:"宋体";
    font-size: small;
    font-weight: 700;
    line-height: 30px;
    margin-left: 1px;
    text-align: left;
    
}
.under a{
	text-decoration: none;
	
}
.under_right{
	position: absolute;
	right: 0px;
}
.phone{
	background-color: #f2f2f2;
	width: 100%;
	height: 45px;
	min-width: 1240px;
}
.phone a{
	display: block;
	margin: 0px auto;
	width: 122px;
}
.bottom{
	width: 100%;
	height: 45px;
	line-height: 45px;
	background-color: #414141;
	text-align: center;
	color: white;
	min-width: 1240px;
}

